.donate-lead {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: -0.5rem;
}

.rnw-widget-container {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.back-icon {
    display: flex;
    line-height: 0.7;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: var(--black);
}

.back-icon * {
    margin: auto 0;
}

.back-icon i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}